<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.mybatis.cn.mapper.SysUserMapper">
    <select id="findAll"  resultType="com.mybatis.cn.entity.SysUser">
        select * from SYS_USER
    </select>

    <select id="findAll1"  resultMap="userMap">
        select * from SYS_USER
    </select>

    <select id="findById" parameterType="String" resultType="com.mybatis.cn.entity.SysUser">
        select * from SYS_USER where id=#{id}
    </select>

    <insert id="save" parameterType="com.mybatis.cn.entity.SysUser">
        insert into SYS_USER values(
        #{id},
        #{name},
        #{idNum},
        #{pwd},
        #{phoneNum}
        )
    </insert>

    <update id="update" parameterType="com.mybatis.cn.entity.SysUser">
        update SYS_USER set
        id=#{id},
        name=#{name},
        id_num=#{idNum},
        pwd=#{pwd},
        phone_num=#{phoneNum}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="String">
        delete from SYS_USER where id=#{id}
    </delete>

    <resultMap type="com.mybatis.cn.entity.User" id="userMap">
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="identity" column="ID_NUM"></result>
        <result property="password" column="PWD"></result>
        <result property="phone" column="PHONE_NUM"></result>
    </resultMap>
</mapper>